@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
body{
    color: #fff;
    }

    
 .logo {
    grid-area: logo;
   }
.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Responsive Grid Mobile*/
@media screen and (max-width: 767px) {
 #content{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: minmax(100px, auto);
   grid-gap: 10px;
   margin: 0 auto; 
   grid-template-areas: 
     "logo logo logo"
     "header header header"
     "banner banner banner"
     "section1 section1 section1"
     "section2 section2 section2"
     "section3 section3 section3"
     "footer1 footer1 footer1"
     "footer2 footer2 footer2"
     "footer3 footer3 footer3";
     }}
 /*Responsive Grid Tablet*/    
@media (min-width: 768px) and (max-width: 991px){
#content
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  margin: 0 auto; 
  grid-template-areas: 
     "logo header header"
     "banner banner banner"
     "section1 section1 section1"
     "section2 section2 section3"
     "footer1 footer2 footer3";
}
}
/*Responsive Grid Desktop*/
@media (min-width: 992px) {
 #content{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: minmax(100px, auto);
   grid-gap: 10px;
   margin: 0 auto; 
   grid-template-areas: 
      "logo header header"
      "banner banner banner"
      "section1 section2 section3"
      "footer1 footer2 footer3";
     }
    
}

 #content>*{
  background: #000 url("https://d2ydxeblbafldb.cloudfront.net/img/global/texture.png");
  padding: 10px;
}
/*-----*/
.header {
  grid-area: header;
  }

/*Strip the ul of padding and list styling*/
ul {
    text-align: center;
    list-style-type:none;
    margin:0;
    padding:0;
    position: relative;
}
/*Create a horizontal list with spacing*/
.nav {
    display: inline-block;
    margin-right: 1px;
  
}
/*Style for menu links*/
li a {
    display:block;
    font-size: 1.5rem;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: rgba(67, 1, 189, 0.35);
    text-decoration: none;
    text-transform: uppercase;
}
/*Hover state for top level links*/
li:hover a {
    box-shadow: 0 12px 16px 0 rgba(251,195,24,0.35),0 17px 50px 0 rgba(251,195,24,0.35);
    color: #fbc318;

    }

/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #fbc318;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    text-decoration: none;
    color: #fff;
    background: rgba(67, 1, 189, 0.35);
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 767px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

  
.banner {
  grid-area: banner;
  
  }
  
.section1 {
  grid-area: section1;
  }
  .section2 {
  grid-area: section2;
  }
  .section3 {
  grid-area: section3;
  }
 
.footer1 {
  grid-area: footer1;
 
}

.footer1 ul {
    padding-bottom: 15px;
}
.footer1 ul li {
    display: inline;
}
.footer1 ul li a {
    padding: 12px 0;
    font-size: smaller;
    line-height: 7px;
    color: #fafafa;
    background: rgba(67, 1, 189, 0.35);
   }
.footer1 li a {
    display: inline;
   }
.footer1 li a:hover {
    color: #fbc318;
}

  

 
/*SIGN UP*/
.footer2 {
    grid-area: footer2;
}

.sign-up{
  background: url(bg.png) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #fff;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #fbc318;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: rgba(67, 1, 189, 0.35);
  color: #fff;
  padding: 12px 50px;
  border-radius: 0;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: rgba(251, 195, 24, 0.35);
}

.button {
  background-color: rgba(67, 1, 189, 0.35);
  border: none;
  width: 100%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(251,195,24,0.35),0 17px 50px 0 rgba(251,195,24,0.35);
}





.footer3 {
    grid-area: footer3;
    padding-bottom: 15px;
    }
.footer3 ul {
  padding-bottom: 15px;  
  
}

.footer3 ul li {
     display: inline;
     margin-right: 20px;
        
}

.footer3 ul li a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    color: #fafafa;
    background: rgba(67, 1, 189, 0.35);
   }

 .footer3 li a {
    display: inline-block;
    min-width: 0;
 }
.footer3 li a:hover {
    color: #fbc318;
}
@media screen and (max-width : 767px) {
    .footer ul {
        position: static;
        display: inline-block;
    }
}

.footer1 h5 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}
.footer2 h5 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}
.footer3 h5 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}